.chats{
    display: flex;
    cursor: pointer;
    padding: 1px;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid white;
}

.chats:hover{
    background-color:rgb(249, 230, 237);
}
.username{
 font-size: 15px;
 font-weight: bold;
}
.msg{
    font-size: 13px;
}