.chatInfo{
    height:50px;
    background-color: #5D8BF4;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    color: white;
}
.messages{
    background-color: #ddddf7;
    padding: 10px;
    height:80%;
    overflow: scroll;
    scroll-snap-type: none;
}

.input{
    height:12%;
    background-color: white;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.input>input{
    width: 100%;
    border: none;
    outline: none;
    color:#2f2d52;
    font-size: 18px;
}
.input>input::placeholder{
    color:lightgray;
}

.input>.send{
    display: flex;
    align-items: center;
    gap:10px;
    vertical-align: middle;

}
.sendButton{
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    border-color: #2f2d52;
    background-color: #ddddf7;
}
