.home {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
.hcontainer{
    border: 5px solid #4a5a82;
    width: 65%;
    height: 80%;
    display:flex;
    border-radius: 10px;
    overflow: hidden;
}
.chat{
 flex:2;
}
.sidebar{
    flex:1;
    border-right: 1px solid rgb(113, 110, 110);
    background-color: #ffffff;
}



