    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
    /* .signupbody{
        
        width:100%;
        height:100%;
        padding: 0;
        margin:0;
    } */
    .signupform{
    width: 40%;
    border-radius: 20px;
    background-color: white;
     
      
    }
    .heading{
        font-family: 'Prompt', sans-serif; 
        background-color: white; 
 
    }

    .formimg{
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    
    .formcontent{
        position: relative;
    }